//Variables

//Colors
$theme-green: #006746;
$theme-dark-green: #003D2A;
$theme-light-green: #008F62;
$theme-light-gray: #e0e0e0;
$theme-black: #000000;
$theme-white: #ffff;
$theme-red: #FF0000;
$theme-dash-gray: #707070;

//Fonts
$theme-font-family: Futura, Arial, sans-serif;