.formbutton{
    background-color: $theme-green;
    color: $theme-white;
    font-family: $theme-font-family;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    min-width: 300px;
    margin: 40px 10px;
    &:hover {
        @include hover-animation($theme-green);
    }
}

//Smaller Laptop
@media (max-width: $breakpoint-laptop){
    .formbutton {
        min-width: 250px;
    }
}

//Tablet
@media (max-width: $breakpoint-tablet){
    .formbutton {
        padding: 20px 15px;
        min-width: 200px;
    }
}

//Phone
@media (max-width: $breakpoint-phone){
    .formbutton {
        padding: 20px 30px;
        min-width: 350px;
    }
}