.formgroup {
    background-color: $theme-light-gray;
    padding: 30px 40px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    .formgrouptitle {
        color: $theme-green;
        text-align: left;
        text-transform: uppercase;
        font-size: 20px;
        grid-column: 1/ span 2;
        margin: 0;
        margin-bottom: 5px;
    }
    .full-textarea {
        grid-column: 1 /span 2;
        width: 100%;
        margin: 10px;
        display: grid;
        resize: none;
        label {
            float: left;
            text-align: left;
            margin-bottom: 10px;
        }
        textarea{
            resize: none;
        }
    }
    .half-width, .full-width {
        width: 100%;
        margin: 10px;
        display: flex;
        label {
            float: left;
            text-align: right;
            font-size: 14px;
            margin-right: 15px;
            margin-left: 10px;
            text-transform: uppercase;
        }
        input {
            text-align: left;
            flex: 1;
            &:focus {
                border: 2px solid $theme-green;
            }
        }
    }
    .full-width {
        grid-column: 1/ span 2;
        grid-template-columns: 15fr 85fr;
    }
    .note {
        grid-column: 1/ span 2;
        text-align: left;
        margin-bottom: 0;
        &::before {
            content: "NOTE: ";
            color: $theme-red;
        }
    }
    .textarea {
        white-space: pre-wrap;
        font-size: 14px;
        text-align: left;
            &:focus {
                border: 2px solid $theme-green;
            }
    }
}


.customformgroup {
    p {
        color: $theme-green;
        font-size: 18px;
    }
}
.offerformgroup {
    .offerletterp {
        color: $theme-black;
        font-size: 18px;
        text-align: left;
        margin-left: 22px;
        margin-top: 0px;
    }
    .filetype {
        color: $theme-dash-gray;
        font-size: 20px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dragdrop {
        white-space: pre-wrap;
        color: $theme-black;
        font-size: 20px;
        text-align: center;
        margin-left: 6px;
        margin-top: 30px;
    }
    .or {
        white-space: pre-wrap;
        color: $theme-black;
        font-size: 20px;
        text-align: center;
        margin-left: 6px;
        margin-right: 0px;
        margin-top: -25px;
    }
    .browse {
        white-space: pre-wrap;
        color: $theme-green;
        font-size: 20px;
        text-align: center;
        margin-left: 6px;
        margin-top: -27px;
        margin-bottom: -10px;
    }
}