.formgroup {
    background-color: $theme-light-gray;
    padding: 30px 40px;
    margin-top: 40px;
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    legend, .formgrouptitle {
        color: $theme-green;
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        grid-column: 1/ span 2;
        margin: 0;
        margin-bottom: 5px;
        background-color: $theme-light-gray;
        float: left;
    }
    label {
        float: left;
        text-align: right;
        font-size: 14px;
        margin: auto 10px;
        text-transform: uppercase;
        span::after {
            content: ':';
        }
    }
    .full-textarea  {
        grid-column: 1 /span 2;
        width: 100%;
        margin: 10px;
        resize: none;
        .field-wrap textarea{
            resize: none;
            box-sizing: border-box;
            width: 100%;
        }
    }
    .half-width, .full-width {
        width: 100%;
        margin: 10px;
        display: flex;
        grid-template-columns: 25fr 65fr;
        .field-wrap {
            flex: 1;
            float: left;
            text-align: right;
            font-size: 14px;
            margin-right: 15px;
            margin-left: 10px;
            text-transform: uppercase;
            .wrapper {
                display: flex;
                input {
                    text-align: left;
                    flex: 1;
                    &:focus {
                        border: 2px solid $theme-green;
                        outline: none;
                    }
                    &:required {
                        border: 2px solid $theme-red;
                        &:valid {
                            border: 2px solid $theme-dark-gray;
                        }
                    }
                }
            }
        }
        .field-wrap {
            flex: 1;
            float: left;
            .wrapper input {
                text-align: left;
                width: 98%;
                &:focus {
                    border: 2px solid $theme-green;
                }
            }
        }
        .errors {
            color: $theme-red;
            text-transform: lowercase;
            padding: 0 5px;
        }
    }
    .note {
        grid-column: 1/ span 2;
        text-align: left;
        margin-bottom: 0;
        span::before {
            content: "NOTE: ";
            color: $theme-red;
            font-size: 14px;
        }
        span::after {
            content: "";
        }
        label {
            text-transform: unset;
            &::after {
                content: "";
            }
        }
        .field-wrap {
            display: none;
        }
    }
    .full-width {
        grid-column: 1/ span 2;
        grid-template-columns: 15fr 85fr;
    }
    p {
        text-align: left;
    }
    ul {
        text-align: left;
        li {
            margin-top: 10px;
        }
    }
}
.customformgroup {
    p {
        color: $theme-green;
        font-size: 18px;
    }
    li {
        font-size: 20px;
    }
}

//Tablet
@media (max-width: $breakpoint-tablet){
    .formgroup {
        padding: 20px;
        .half-width, .full-width {
            grid-column: 1 /span 2;
            grid-template-columns: 28fr 70fr;
            label {
                float: none;
                text-align: left;
            }
        }
    }
}

//Phone
@media (max-width: $breakpoint-phone){
    .formgroup {
        .half-width, .full-width {
            grid-template-columns: 35fr 60fr;
            label {
                font-size: 18px;
            }
            input {
                font-size: 18px;
                padding: 3px;
            }
        }
    }
    .note, ul, p {
        font-size: 105%;
    }
}