.formgroup {
    .field-integratedinput {
        grid-column: 1 /span 2;
        display: inline-block;
        .wrapper {
            float: left;
            & > * {
                display: inline;
            }
        }
    }
}

