.paragraphformgroup {
    display: inline;
    text-align: left;
    .field-integratedinput {
        display: inline-block;
        .wrapper {
            & > * {
                display: inline;
            }
        }
    }
}

