.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: white;
    background-color: #003D2A;
    text-align: center;
  }
  .footer-main-div ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    background-color: #003D2A;
    width: 100%;
}
.footer-main-div, .footer-main-div a:visited { color: #fff;}