.footer{
    color: white;
    background-color: #006747;
    font-size: 25;   
}
.footer-main-div {
    width: 421px;
    height: 24px;
    margin: auto;
    margin-top: 20px;
 }
.footer-main-div ul {
        margin: 0px;
        padding: 0px;
        text-align: left;  
}
.footer-main-div ul li {
    display: block;
}
.footer-main-div ul li {
    color: white;
    background-color: #006747;
    font-size: 25;
}