.form {
    margin: 5px 100px;
    overflow: hidden;
}

//Tablet
@media (max-width: $breakpoint-tablet){
    .form {
        margin: 30px;
    }
}

//Phone
@media (max-width: $breakpoint-phone){
    .form {
        margin: 15px;
    }
}