.header {
    grid-row: 1;
    background-color: $theme-white;
    padding: 40px;
    filter: drop-shadow(5px -10px 10px black);
    position: sticky;
    top: 0;
    z-index: 100;
    h1 {
        border-top: 4px solid $theme-green;
        border-bottom: 4px solid $theme-green;
        color: $theme-green;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
        max-width: 900px;
        text-align: center;
        margin: auto;
    }
}

//Tablet
@media (max-width: $breakpoint-tablet-max){
    .header {
        padding: 20px;
        z-index: 50;
        top: 50px;
        h1 {
            font-size: 1.5em;
            max-width: 500px;
        }
    }
}