.notfound {
  font-family: $theme-font-family;
  font-weight: 900;
  height: 100%;
  width: 100%;
  text-align: center;
  img {
    width: 200px;
    height: 200px;
  }
  h2 {
    color: $theme-green;
  }
  div {
    margin: 40px;
    p {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
      list-style-type: none;
      margin-top: 40px;
      background-color: $theme-green;
      a {
        color: $theme-white;
        text-decoration: none;
        display: block;
        padding:15px;
      }
      & > .router-link-exact-active {
        background-color: $theme-dark-green;
      }
      & :hover{
        @include hover-animation($theme-green);
      }
    }
  }
}