.side-nav {
    height: 100vh;
    font-family: $theme-font-family;
    font-weight: 900;
    font-size: 16px;
    background-color: $theme-green;
    position: sticky;
    top: 0;
    grid-column: 1;
    grid-row: 1 /span 3;
    .title {
        margin: 40px auto;
        img {
            width: 140px;
            height: 140px;
        }
    }
    .nav {
        margin: 40px auto;
        padding: 0;
        text-align: left;
        div .nav-item {
            width: 100%;
            list-style-type: none;
            margin: 0;
            background-color: $theme-green;
            a {
                color: $theme-white;
                text-decoration: none;
                display: block;
                padding: 15px;
                &:hover {
                    @include hover-animation($theme-green);
                }
                & + div {
                    display: none;
                }
            }
            .router-link-active {
                background-color: $theme-dark-green;
                text-decoration: underline;
                & + div {
                    transition: transform .3s ease-in;
                    display: block;
                }
            }
        }
        .children {
            .nav-item {
                background-color: $theme-dark-green;
                a {
                    margin-left: 15px;
                    &:hover {

                    }
                }
                .router-link-active {
                    display: block;
                }
            }
        }
    }
}

// Tablet
@media (max-width: $breakpoint-tablet){
    .side-nav {
        padding: -10px 10px;
        .title {
            padding: 0px 10px;
        }
    }
}

//Phone
@media (max-width: $breakpoint-phone){
    .side-nav {
        left: -140px;
    }
    #hamburger-toggle {
        &:checked {
            & ~ .side-nav {
                left: 0px;
            }
        }
    }
}
